.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnav-height);
  position: fixed;
  background: var(--main-bg);
  z-index: 99;
  width: calc(100% - var(--sidebar-width));
}

.topnav__search {
  position: relative;
  height: 40px;
  /* background-color: var(--main-bg); */
  background-color: var(--second-bg);

  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.topnav__search > i {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
}
.topnav__search > input {
  height: 100%;
  width: 100%;
  padding: 10px 60px 10px 20px;
  border-radius: var(--border-radius);
  color: var(--txt-color);
  /* background-color: var(--main-bg); */
  background-color: var(--second-bg);
}

.topnav__right {
  display: flex;
  align-items: center;
}
.topnav__right > .topnav__right-item {
  margin-left: 30px;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.notification-item > i {
  margin-right: 20px;
  font-style: 1.5rem;
}

.topnav__right-user {
  display: flex;
  align-items: center;
}

.topnav__right-user__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnav__right-user__image > img {
  width: 100%;
}

.topnav__right-user__name {
  font-size: 1rem;
  font-weight: 600;
}
